@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/home/index" enctype="multipart/form-data" method="post" style="display: inline-block;">
    <input type="text" name="Name" placeholder="Imie" id="Description" class="form" />
    <input type="text" name="Surname" placeholder="Nazwisko" id="ShortDescription" class="form" />
    <input type="text" name="Phone" placeholder="Telefon" id="Phone" class="form" />
    <input type="text" name="Mail" placeholder="Mail" id="adsad" class="form" />
    <input type="file" name="file">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>